<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document Management</title>
        <link rel="stylesheet" href="../Downloads/DocManage.css" />
    </head>
    <body>
        <main>
            <h1>Ongoing Document Management</h1>
            <div class="body"> 
              <div class="upload">
                  <input type="file" id="fileInput" style="display: none;">
                  <button onclick="document.getElementById('fileInput').click();" class="button-large dangger">
                      Upload PDF
                  </button>
              </div>
              <div class="card-table opacity">
                <table id="example" class="display compact" style="width: 100%">
                  <thead>
                    <tr class="atribut">
                      <th style="display: none;"></th>
                      <th>Nomor</th>
                      <th>Nama Dokumen</th>
                      <th>Download</th>
                      <th>Status</th>
                      <th>Hapus</th>
                    </tr>
                    <tr>
                        <th class="nomor">1</th>
                        <th>Dokumen1</th>
                        <th class="download"><button class="button-download">Download</button></th>
                        <th class="statusDoc1">SIGNED</th>
                        <th><button class="button-hapus">Hapus</button></th>
                    </tr>
                    <tr>
                        <th class="nomor">2</th>
                        <th>Dokumen2</th>
                        <th class="download"><button class="button-download">Download</button></th>
                        <th class="statusDoc1">SIGNED</th>
                        <th><button class="button-hapus">Hapus</button></th>
                    </tr>
                    <tr>
                        <th class="nomor">3</th>
                        <th>Dokumen3</th>
                        <th class="download"><button class="button-download">Download</button></th>
                        <th class="statusDoc2">UNSIGNED</th>
                        <th><button class="button-hapus">Hapus</button></th>
                    </tr>
                    <tr>
                        <th class="nomor">4</th>
                        <th>Dokumen4</th>
                        <th class="download"><button class="button-download" >Download</button></th>
                        <th class="statusDoc1">SIGNED</th>
                        <th><button class="button-hapus">Hapus</button></th>
                    </tr>
                  </thead>
    </body>
</html>