<nav class="navbar">
	<div class="container-nav">
		<h1>SignifySafe</h1>
		<% if (title !== "Login and Register") { %>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/document-management-overview">
					Document Management
				</a>
			</li>
			<li class="nav-item">
				<button class="btn-logout">Logout</button>
			</li>
		</ul>
		<% } %>
	</div>
</nav>
