<div
	class="get-documents-user"
	document-owner="<%= documentsOwner %>"
	document-receiver="<%= documentsReceiver %>"></div>
<div class="wrapper">
	<div class="box-filter">
		<div class="btn-mine">Mine</div>
		<div class="btn-receive">Receive</div>
	</div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Status Signing</th>
				<th>Status Verification</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="table-body"></tbody>
	</table>
</div>
