<div class="get-documents-user" data-query="<%= documentsUser %>"></div>
<div class="wrapper">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Status Signing</th>
				<th>Status Verification</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="table-body"></tbody>
	</table>
</div>
