<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="css/document-sign-style.css" />
		<script src="js/document-sign-script.js" defer></script>
		<title>Document Sign</title>
	</head>
	<body>
		<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document-sign</title>
    <link rel="stylesheet" href="/public/css/document-sign-style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="menu">
        <ul>
          <button>menu 1</button>
        </ul>
        <ul>
          <button>menu 1</button>
        </ul>
        <ul>
          <button>menu 1</button>
        </ul>
        <ul>
          <button>menu 1</button>
        </ul>
        <ul>
          <button>menu 1</button>
        </ul>
      </div>
    </div>
    <div class="content"></div>
  </body>
</html>
	</body>
</html>
