<div class="file-target" get-data="<%= fileTarget %>"></div>
<div class="wrapper">
	<div class="box-info">
		<div class="box-status">
			<div class="title-status">Signing Status</div>
			<div class="signing-status"></div>
		</div>
		<div class="box-status">
			<div class="title-status">Verification Status</div>
			<div class="verify-status"></div>
		</div>
	</div>
	<div class="doc-container">
		<iframe src="" id="doc-display"></iframe>
	</div>
	<div class="box-action">
		<div class="btn-sign">Sign</div>
		<div class="btn-verify">Verify</div>
	</div>
</div>
