<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="css/document-management-style.css" />
		<script src="js/document-management-script.js" defer></script>
		<title>Document Management</title>
	</head>
	<body>
		<h1>Document Management</h1>
	</body>
</html>
