<div class="wrapper">
	<div class="box-info">
		<div class="info-head">Welcome to SignifySafe,</div>
		<div class="info-text">
			your trusted platform for secure digital signatures. We specialize in
			providing a seamless and efficient solution for all your document signing
			needs. Our platform ensures the utmost security and legality, allowing you
			to sign documents with confidence and ease.
		</div>
	</div>
	<div class="box-upload">
		<div class="box-text">
			Easily upload your document below to begin the signing process.
		</div>
		<form action="/document-upload" method="post" enctype="multipart/form-data">
			<label class="box-input">
				<p class="label-text">Browse File</p>
				<i class="bx bx-cloud-upload"></i>
				<p class="file-name">No file chosen yet!</p>
				<input
					type="file"
					name="fileUpload"
					id="file-upload"
					accept=".pdf, .doc, .docx" />
			</label>
			<input
				type="submit"
				value="Upload File"
				name="submit"
				class="btn-submit" />
		</form>
	</div>
</div>
