<div class="wrapper">
	<!-- untuk home -->
	<section id="home">
		<img src="public/img/HandWrite.png" />
		<div class="kolom">
			<p class="deskripsi"></p>
			<h2>Make Your Signature</h2>
			<p>Buat digital signature untuk setiap dokumen anda</p>
			<!-- masukan link upload dokumen disini-->
			<p>
				<a href="document-sign-page.ejs" class="tbl-pink">Upload Dokumen </a>
			</p>
		</div>
	</section>

	<!-- untuk courses -->
	<section id="history">
		<div class="kolom">
			<p class="deskripsi"></p>
			<h2>Document Management</h2>
			<p> Lihat dokumen yang telah anda upload </p>
			<!-- masukan link history disini-->
			<p>
				<a href="document-management-page.ejs" class="tbl-biru"
					>Lihat Dokumen</a
				>
			</p>
		</div>
		<img src="public/img/ReadBook.png" />
	</section>

	<section id="AboutUs">
		<img src="public/img/IdeaLamp.png" />
		<div class="kolom">
			<p class="deskripsi"></p>
			<h2> About Us </h2>
			<p> Solusi tanda tangan digital yang inovatif untuk keamanan transaksi bisnis Anda. Kami fokus pada teknologi canggih untuk memberikan solusi yang handal, sederhana, dan aman</p>
			
			
		</div>
	</section>

	<div id="copyright">
		<div class="wrapper">
			&copy; 2023. <b>Digital Signature.</b> All Rights Reserved.
		</div>
	</div>
</div>
<script src="js/home-script.js" defer></script>
