<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/register-style.css" />
	<script src="js/register-script.js" defer></script>
	<title>Register Digital Signature</title>
</head>

<body>

</body>

</html>