
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 30px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #000000;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #D2E0FB;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #FFC5C5;
    text-decoration: none;
}

a.tbl-pink {
    background: #FFC5C5;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #D2E0FB;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

<<<<<<< HEAD
#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

=======
>>>>>>> 74f96a8f96df8d5941057dcb7bb1ed868c23f1d0
@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 50%;
    }

<<<<<<< HEAD
    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }


  
=======
	section {
		display: block;
	}

	section img {
		display: block;
		width: 100%;
		height: auto;
	}
>>>>>>> 74f96a8f96df8d5941057dcb7bb1ed868c23f1d0
}
