/* Reset default browser styles */
body,
ul {
	margin: 0;
	padding: 0;
}

/* Navbar styles */
.navbar {
	background-color: #333; /* Ubah sesuai warna latar belakang yang diinginkan */
	color: #fff; /* Ubah warna teks sesuai kebutuhan */
	padding: 15px 0;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand {
	color: #fff; /* Warna teks untuk logo */
	text-decoration: none;
	font-weight: bold;
}

.navbar-nav {
	list-style: none;
	display: flex;
}

.nav-item {
	margin-right: 15px;
}

.nav-link {
	color: #fff; /* Warna teks untuk tautan */
	text-decoration: none;
	font-weight: bold;
}

.nav-link:hover {
	color: #ccc; /* Warna teks saat dihover */
}
