body {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	color: #333;
}

header {
	text-align: center;
	padding: 20px;
	background-color: #4285f4;
	color: #fff;
}

#main-content {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.styled-button {
	background-color: #4285f4;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

button.styled-button:hover {
	background-color: #3367d6;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #4285f4;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}
